<%- include ("partials/header") %>



<div class="container">
    <header class="mt-4 mb-3 p-5 bg-dark text-white rounded" id="jumbotron">
        <h1>Welcome to YelpCamp!!</h1>
        <p>View our hand-picked campgrounds from all over the world</p>
        <P>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new campground</a>
        </P>
    </header>

    <div class="row text-center">
        <% campgrounds.forEach((campground)=>{ %>
            <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
                <div class="img-thumbnail">
                    <img src="<%= campground.image %>" class="img-responsive" width="100%" height="100%" >
                    <div class="caption">
                        <h4><%= campground.Name %></h4>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>



<%- include ("partials/footer") %>