<%- include ("partials/header") %>

<h1>This is the login form</h1>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Log In</button>
</form>

<%- include ("partials/footer") %>