<%- include ("partials/header") %>



<div class="container">
    <h1 style="text-align: center;">Add a New Photo</h1>

    <div style="width: 30%; margin: 25px auto;">
        <form action="/photos" method="post" enctype="multipart/form-data">
            <div class="mb-2">
              <label for="image">Image</label>
              <input type="file" id="image" name="image" accept="image/*" required>
            </div>

            <div class="mb-2">
              <label for="desc-field" class="form-label">Caption</label>
              <textarea class="form-control" id="desc-field" rows="3" name="photo[caption]"></textarea>
            </div>

            <div class="mb-2 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Agree to terms and conditons</label>
            </div>
            <button type="submit" class="btn btn-dark btn-block">Submit</button>
          </form>
          <a href="/photos">Go back</a>
    </div>
</div>


<%- include ("partials/footer") %>



