<%- include ("partials/header") %>



<div class="container">
    <h1 style="text-align: center;">Add a comment</h1>

    <div style="width: 30%; margin: 25px auto;">
        <form action="/photos/<%= photo._id %>/comments" method="post">
            <div class="mb-2">
              <label for="text" class="form-label">Text</label>
              <textarea  class="form-control" rows="3" id="text" name="comment[text]"></textarea>
            </div>

            <button type="submit" class="btn btn-dark btn-block">Submit</button>
          </form>
          <a href="/photos">Go back</a>
    </div>
</div>


<%- include ("partials/footer") %>
