<%- include ("partials/header") %>



<div class="container">
    <h1 style="text-align: center;">Add a comment to <%= campground.name %></h1>

    <div style="width: 30%; margin: 25px auto;">
        <form action="/campgrounds/<%= campground._id %>/comments" method="post">
            <div class="mb-2">
              <label for="author" class="form-label">Author</label>
              <input type="text" class="form-control" id="author" aria-describedby="emailHelp" name="comment[Author]">
            </div>

            <div class="mb-2">
              <label for="text" class="form-label">Text</label>
              <input type="text" class="form-control" id="text" name="comment[text]">
            </div>

            <button type="submit" class="btn btn-dark btn-block">Submit</button>
          </form>
          <a href="/campgrounds">Go back</a>
    </div>
</div>


<%- include ("partials/footer") %>
