
/* Set background color to black */
body {
    background-color: #000;
}

/*  positioning the welcome text and view all campgrounds buton */
#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

/* change h1 text color to white */
#landing-header h1 {
    color: #fff;
}

/* styling the unordered list */
.slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* styling individual list items */
.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
}

/* set up background image and animation delay */
.slideshow li:nth-child(1) { 
    /* background-image: url(http://i.imgur.com/K3mPv14.jpg)  */
    background-image: url("./black\ cat.jpg");
  }
  .slideshow li:nth-child(2) { 
    /* background-image: url(http://i.imgur.com/SBEmFpv.jpg); */
    background-image: url("./wallper1.jpg");
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    /* background-image: url(http://i.imgur.com/emvhOnb.jpg); */
    background-image: url("./swag_girl_wallpaper_by_cartoonstyler_dekrodt-fullview.jpg");
    animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    /* background-image: url(http://i.imgur.com/2LSMCmJ.jpg); */
    background-image: url("./psg.jpg");
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    /* background-image: url(http://i.imgur.com/TVGe0Ef.jpg); */
    background-image: url("./photo-1626323155884-76425fa43967.jpg");
    animation-delay: 40s; 
  }

/* image animation setup */
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}